* {
    box-sizing: content-box;
}

body {
    text-align: center;
    background-color: rgb(46, 46, 46);
}

table,
td {
    border: 3px solid black;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    padding: 10px;
    border-radius: 10%;
}

td:hover {
    border-radius: 15%;
    background-color: rgb(30, 30, 30);
}

table {
    margin: auto;
    border-radius: 2%;
}

.hidden {
    display: none;
}

.clicked {
    background-color: grey;
}
.marked{
    background-color: rgb(120, 6, 6);
}
.marked:hover{
    background-color: rgb(90, 4, 4);
}
.clicked:hover{
    background-color: rgb(99, 99, 99);

}

.footer {
    width: 100%;
    font-weight: bold;
    background-color: rgb(80, 80, 80);
    border-top: 8px solid rgb(30, 30, 30);
    position: fixed;
    bottom: 0px;
}

.smiley-btn {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 10%;
    background-color: rgb(30, 30, 30);
    border: 3px solid rgb(21, 21, 21);
}

.smiley-btn:hover {
    border-radius: 15%;
    background-color: rgb(21, 21, 21);

}